$color-wenge: #2d3748;
$color-beige: #f7fafc;
$color-darkbrown: #1a202c;
$color-darkorange: #3182ce;
$color-rose: #e53e3e;
$color-aqua: #38b2ac;
$sidebarwd: 18rem;
$contentwd: 54rem;

$mediawd: (
  mobile: 320px,
  tablet: 769px,
  desktop: 1025px,
  wide: 1441px,
) !default;